.DS_Store
.emacs.d/backup
.emacs.d/undohist


.emacs.d/recentf
.emacs.d/recentf~

.emacs.d/ac-comphist.dat

### https://raw.github.com/github/gitignore/ee80a54c216104925c27439c21fa540ccdb072d2/Global/emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/


